<html ng-app="guerraTI">
    <head>
        <title>Clientes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>

        <div class="container">
            <div class="col-md-12">
                <table class="table" ng-controller="listarDados">
                    <thead>
                        <tr>
                            <th>Matricula</th>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Idade</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cliente of clientes">
                          <td>{{cliente.matricula}}</td>
                          <td>{{cliente.nome}}</td>
                          <td>{{cliente.email}}</td>
                          <td>{{cliente.dataNascimento}}</td>
                          <td>
                            <button type="button" class="btn btn-success btn-sm">
                                <i class="fas fa-pencil-alt"></i>
                            </button></td>
                          <td>
                            <button type="button" class="btn btn-success btn-sm">
                                <i class="fas fa-pencil-alt"></i>
                            </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="app.js"></script>
    </body>    
</html>