<div class="container-fluid">

    <div class="row">
        <div class="col-md-11">
            <div class="row justify-content-end">
                <div class="col-md-4 sm-12 ">
                    <form class="needs-validation">
                        <div class="input-group mb-3">
                            <input (keyup.enter)="onKey($event)" type="text" class="form-control" ng-model="procurar"
                                placeholder="Procurar" aria-label="Recipient's username"
                                aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="reset" id="button-addon2"
                                    (click)="findAll()"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 ms-12">
            <div class="table-responsive table table-hover">
                <table class="table" ng-controller="listarDados">
                    <thead>
                        <tr>
                            <th (click)="trocarOrdem('matricula')">Matricula</th>
                            <th (click)="trocarOrdem('nome')">Nome</th>
                            <th (click)="trocarOrdem('email')">E-mail</th>
                            <th (click)="trocarOrdem('dataNascimento')">Nasc.</th>
                            <th>Editar</th>
                            <th>Deletar</th>
                            <th>Senha</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let cliente of clientes">
                            <td>{{cliente.matricula}}</td>
                            <td>{{cliente.nome}}</td>
                            <td>{{cliente.email}}</td>
                            <td>{{cliente.dataNascimento | date: 'dd/MM/yyyy'}}</td>
                            <td>
                                <button (click)="openModal(edicao)" (click)="selecionaCliente(cliente)" type="button"
                                    class="btn btn-primary btn-sm">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                            </td>
                            <td>
                                <button (click)="openModal(delete)" (click)="selecionaCliente(cliente)" type="button"
                                    class="btn btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmDialog">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </td>
                            <td>
                                <button (click)="openModal(updateSenha)" (click)="selecionarClienteUpdateSenha(cliente.matricula)"
                                    type="button" class="btn btn btn-success btn-sm" data-toggle="modal"
                                    data-target="#confirmDialog">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="loader" class="text-center">
                    <img src="../../../../assets/load.svg">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="col-md-12 col-ms-12 ">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container-flid">
        <div class="row">
            <div class="col-md-12 col-sm-312 fixed-bottom">
                <button class="btn btn-primary btn-adicionar float-right " type="button"
                    (click)="openModal(cadastro)"><i class="fas fa-plus"></i></button>
            </div>
        </div>
    </div>




    <ng-template #cadastro>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Cadastro Cliente</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <app-form-cliente btn="Salvar" [cliente]="clienteNew" (outputCliente)="addCliente($event)"
                (outputModal)="modalRef.hide()"></app-form-cliente>

        </div>
    </ng-template>

    <ng-template #edicao>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Atualizar Cliente</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <app-form-cliente btn="Atualizar" (outputCliente)="updateCliente($event)" [cliente]="clienteUpdate"
                (outputModal)="modalRef.hide()"></app-form-cliente>

        </div>
    </ng-template>

    <ng-template #delete>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Deletar Cliente</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h5>Tem certeza que deseja excluir o cliente {{clienteUpdate.nome + '?'}}</h5>
            <button class="btn btn-success mr-2" (click)="deleteCliente(clienteUpdate.matricula)"><i
                    class="fas fa-check mr-1"></i>Confirmar</button>
            <button class="btn btn-danger" (click)="modalRef.hide()"><i
                    class="fas fa-arrow-left mr-1"></i>Cancelar</button>
        </div>
    </ng-template>

    <ng-template #updateSenha>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Atualizar senha</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <form #senhaForm="ngForm" (ngSubmit)="changePassword(updateSenha);$event.preventDefault()">
                <div>
                    <div>
                        <label for="senhaAtual">Senha Atual </label>
                        <input #senhaAtual="ngModel" type="password" name="senhaAtual" id="senhaAtual"
                            [(ngModel)]="updateSenha.senhaAtual"
                            [class.is-invalid]="!senhaAtual.valid && senhaAtual.touched" required maxlength="50" class="form-control">
                    </div>

                    <div *ngIf="!senhaAtual.valid && senhaAtual.touched" class="text-danger">
                        Informe uma senha válido.
                    </div>

                    <div>
                        <label for="senhaNova">Nova senha </label>
                        <input name="senhaNova" id="senhaNova" [(ngModel)]="updateSenha.senhaNova" #senhaNova="ngModel"
                            [class.is-invalid]="!senhaNova.valid && senhaNova.touched" required minlength="6"
                            maxlength="50" type="password" class="form-control">
                    </div>

                    <div *ngIf="!senhaNova.valid && senhaNova.touched" class="text-danger">
                        Informe uma nova senha válido.
                    </div>




                    <div>
                        <label for="confirmsenha">Confirme a nova senha</label>
                        <input #confirmsenha="ngModel" type="password" name="confirmsenha" id="confirmsenha"
                            [(ngModel)]="updateSenha.confirmsenha"
                            [class.is-invalid]="!confirmsenha.valid && confirmsenha.touched" required maxlength="50"
                            class="form-control">
                    </div>
                    <div *ngIf="!confirmsenha.valid && confirmsenha.touched" class="text-danger">
                        Preenchimento obrigatório.
                    </div>

                    <div *ngIf="isPasswordEquals(updateSenha.senhaNova, updateSenha.confirmsenha) && confirmsenha.touched"
                        class="text-danger">
                        Senhas não conferem.
                    </div>

                    <div class="mt-2">
                        <button
                            type="submit" [disabled]="isPasswordEquals(updateSenha.senhaNova, updateSenha.confirmsenha) || senhaForm.invalid"
                            class="btn btn-success mr-2"><i
                                class="fas fa-check mr-1"></i>Confirmar</button>
                        <button class="btn btn-danger" (click)="modalRef.hide()"><i
                                class="fas fa-arrow-left mr-1"></i>Cancelar</button>
                    </div>
                </div>

            </form>

        </div>
    </ng-template>