
        <div class="container">
            <div class="col-md-12">
                <form class="form-inline filter">
                    <div class="form-group">
                        <label> Procurar </label>
                        <input type="text" ng-model="procurar" class="form-control input-filter" placeholder="Procurar...">
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table" ng-controller="listarDados">
                        <thead>
                            <tr>
                                <th (click)="trocarOrdem('matricula')">Matricula</th>
                                <th (click)="trocarOrdem('nome')">Nome</th>
                                <th (click)="trocarOrdem('email')">E-mail</th>
                                <th (click)="trocarOrdem('dataNascimento')">Nasc.</th>
                                <th>Editar</th>
                                <th>Deletar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cliente of clientes">
                            <td>{{cliente.matricula}}</td>
                            <td>{{cliente.nome}}</td>
                            <td>{{cliente.email}}</td>
                            <td>{{cliente.dataNascimento}}</td>
                            <td>
                                <button (click)="openModal(edicao)" (click)="selecionaCliente(cliente)" type="button" class="btn btn-primary btn-sm">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                            </td>
                            <td>
                                <button  (click)="openModal(delete)" (click)="selecionaCliente(cliente)" type="button" class="btn btn btn-danger btn-sm" data-toggle="modal" data-target="#confirmDialog">
                                        <i class="far fa-trash-alt"></i>
                                </button>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="box-button">
            <button class="btn btn-primary btn-adicionar " type="button" (click)="openModal(cadastro)" ><i class="fas fa-plus"></i></button>
        </div>


<ng-template #cadastro>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Cadastro Cliente</h4>
            <button type="button" class="close pull-right" 
                    aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <app-form-cliente btn="Salvar" [cliente]="clienteNew" (outputCliente)="addCliente($event)" (outputModal)="modalRef.hide()"></app-form-cliente>
            
        </div>
</ng-template>

<ng-template #edicao>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Atualizar Cliente</h4>
            <button type="button" class="close pull-right" 
                    aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <app-form-cliente btn="Atualizar" (outputCliente)="updateCliente($event)" [cliente]="clienteUpdate" (outputModal)="modalRef.hide()"></app-form-cliente>
            
        </div>
</ng-template>

<ng-template #delete>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Deletar Cliente</h4>
            <button type="button" class="close pull-right" 
                    aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <h5>Tem certeza que deseja excluir o cliente {{clienteUpdate.nome + '?'}}</h5>
            <button class="btn btn-success mr-2" (click)="deleteCliente(clienteUpdate.matricula)" ><i class="fas fa-check mr-1"></i>Confirmar</button>
            <button class="btn btn-danger" (click)="modalRef.hide()"><i class="fas fa-arrow-left mr-1"></i>Cancelar</button>
        </div>
</ng-template>